<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	
		 <bean id="emp" class="com.cg.dto.EmployeeBean">
		 <property name="age" value="22"></property>
		 <property name="empId" value="142735"></property>
		 <property name="empName" value="Namrata"></property>
		 <property name="sal" value="14500"></property>
		 <property name="sbu" ref="one" ></property>
		 </bean>
	
		<bean id="one" class="com.cg.dto.SBUBean">
		<property name="sbuId" value="1001"></property>
		<property name="sbuName" value="Kiran Rao"></property>
		<property name="sbuHead" value="Product Engineering Services"></property>
		</bean>
	 
</beans>